


.firstList { 
list-style-type: square;
    color: darkorange;
}

h1{
    color: deeppink;
    font-size: 36px;
}

p{
    color: rgb(3, 201, 250);
    font-size: 18px;
}


.navlinks{
    list-style-type: none;
    background-color: blanchedalmond;
}

.navlinks a{
    font-size: 16px;
    font-weight: bold;
    border: 5px;
    color: rgb(245, 140, 221);
}