/*html{
    display: flex;
    justify-content: center;
}*/

body {
    background-color: rgb(154, 209, 250);
    text-align: center;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../homepageimages/Props.png);
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
    opacity: 0.3; 
    z-index: -1; 
}

.nav li {
    border: 2px solid black;
    background-image: url(../homepageimages/Props.png);
    width: 100px;
    height: 100px;
    background-size: cover;
}

section{
    margin: 10px;
    border-radius: 50px;
}

.header{
    display: flex;
    justify-content: center;
}

.nav{
  display: flex;  
  justify-content: center;
  width: 1400px;
  height: 200px;
  align-content: center;
}

.nav li{
    margin: 20px;
}

.centerWelcome{
    display: flex;
    justify-content: center;
}

.welcome {
            background-color: rgb(248, 244, 231);
            width: 1100px;
            height: 600px;
            display: flex; 
            align-items: center;
            justify-content: center;
         }

h1{
    font-family: 'Overpass', sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inner{

    background-color: rgb(248, 244, 231);
    width: 1040px;
    height: 540px;
    padding: 5px;
    outline: 10px solid black;
    outline-offset: -5px;
    border-radius: 50px; 


}

.centerMap{
    display: flex;
    justify-content: center;
}

.mapContainer{
    /*display: flex;    
    justify-content: space-around;
    gap: 40px;
    align-items: center;*/
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1100px 300px;
    width: 1400px;
    height: 600px;
    
}

.map {
    background-color: rgb(42, 135, 42);
    grid-row-start: 1;
    grid-row-end:4 ;
    grid-column-start: 1;
    grid-column-end: 2;
justify-items: center;
background-image: url(../homepageimages/sisandaLevelDesign.png);
background-position: center;
background-attachment: inherit;
background-size: cover;

}


.navList{
    width: 900px;
    height: 500px;
    position: relative;
}


.nav1{
background-color: aqua;
position: absolute;
top: 30px;
left: 400px;
}

.nav2{
    background-color: rgb(25, 150, 129);
    position: absolute;
    top: 231px;
    left: 287px;
    }

    .nav3{
        background-color: rgb(34, 169, 133);
        position: absolute;
        top: 312px;
        left: 642px;
        }

        .nav4{
            background-color: rgb(101, 184, 33);
            position: absolute;
            top: 70px;
            left: 701px;
            }

            .nav5{
                background-color: rgb(193, 224, 69);
                position: absolute;
                top: 383px;
                left: 100px;
                }

                .nav6{
                    background-color: rgb(227, 167, 47);
                    position: absolute;
                    top: 425px;
                    left: 378px;
                    }

                    .nav7{
                        background-color: rgb(167, 34, 70);
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }





.galleryAside {
    background-color: rgb(248, 244, 231);
            grid-row-start: 1;
            grid-row-end:3 ;
            grid-column-start: 2;
            grid-column-end: 3;
            
            }


.map-img{
    width:80px;
    height: auto;
    margin: 0;
}

.indexImages{
    display: grid;
    grid-template-rows: 70px 70px 70px;
    grid-template-columns: 110px 110px;
}


.learnAside {
    background-color: rgb(248, 244, 231);
            /*width: 300px;
            height: 200px;*/

         }


footer {
    background-color: rgb(137, 136, 134);
         }





